html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: #222;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background: #fff;
}

a{
	color: #222;
	text-decoration: none;
}

a:active, a:focus {
	outline: none;
}

input, textarea {
	outline:none;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

input:active, textarea:active {
	outline:none;
}
:focus {
	outline:none;
}
textarea{
	resize:none;
}

div{
	box-sizing: border-box;
	/*-moz-box-sizing: border-box;*/
	/*-webkit-box-sizing: border-box;*/
	/*-webkit-font-smoothing: antialiased;*/
}

.clear{
	clear: both;
}

.dn{
	display: none;
}

/*** cookie div ***/

.bottom__cookie-block {
	width: 100%;
	height: 48px;
	background-color: #ffffff;
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 100000;
	text-align: center;
	transform: translateZ(0);
}

.bottom__cookie-block p {
	height: 100%;
	color: #202020;
	/*font-family: 'RobotoRegular', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	display: inline-block;
	line-height: 48px;
}

.bottom__cookie-block p span {
	font-family: 'RobotoBold', sans-serif;
	font-weight: 400;
}

.bottom__cookie-block .ok {
	display: inline-block;
	border-radius: 100px;
	line-height: 31px;
	text-align: center;
	color: #ffffff;
	/*font-family: 'RobotoBold', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	width: 80px;
	height: 31px;
	background-color: #1565c0;
	transition: all .2s;
	margin: 0 31px;
}

.bottom__cookie-block .ok:hover {
	transition: all .2s;
	background-color: #2196f3;
}

.bottom__cookie-block .podr {
	display: inline-block;
	color: #1565c0;
	/*font-family: 'RobotoRegular', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	border-bottom: 1px solid #1565c0;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.bottom__cookie-block .podr:hover {
	transition: all .2s;
	border-bottom: 1px solid #2196f3;
	color: #2196f3;
}

/*** cookie div end ***/

.header {
	
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	clear: both;
}

.hidden {
	display: none;
}

.section{
	min-height: 400px;
}


/*** header ***/

.header-top {
	background: #222;
}

.header-top .container .info {
	text-align: right;
	padding: 10px;
	font-size: 14px;
}

.header-top .container .info .phone {
	padding: 5px 20px 4px 25px; 
	background: url(../images/ico-phone.png) no-repeat left center;
	background-size: 20px;
}
.header-top .container .info .soc {
	padding: 4px 20px 4px 60px; 
	background: url(../images/vwt.png) no-repeat left center;
	background-size: 50px;
}
.header-top .container .info .email {
	padding: 8px 10px 8px 25px; 
	background: url(../images/ico-mail.png) no-repeat left center;
	background-size: 17px;
}

.header-top .container .info a:hover{
	color: #fff;
}

.header-bottom{
	border-bottom: solid 5px #222;
}

.header-top .container .info a{
	color: #ccc;
}

.header-bottom .container{
	display: flex;
	position: relative;
}

.header-bottom .container .logo {
	width: 390px;
	height: 60px;
	background: url(../images/logo.png) no-repeat #fff;
	background-size: contain;
	padding-left: 70px;
	margin: 15px 0;
	color: #636363;
	font-size: 20px;
}

.header-bottom .container .line-white{
	position: absolute;
	width: 2000px;
	height: 10px;
	left: -1610px;
	background: #fff;
	z-index: 1;
	top: 85px;
}

.header-bottom .container .logo span{
	font-size: 34px;
}


.header-bottom .container .menu-top {
	height: 90px;
}
.header-bottom .container .menu-top ul {
	display: flex;
}
.header-bottom .container .menu-top ul li {
	list-style: none;
}

.header-bottom .container .menu-top ul li.selected {
	
}

.header-bottom .container .menu-top ul li a {
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
	text-transform: uppercase;
	color: #636363;
	border-bottom: solid 5px #222;
	height: 90px;
	font-size: 18px;
}

.header-bottom .container .menu-top ul li a:hover {
	border-bottom: solid 5px #fb3f05;
}

.header-bottom .container .menu-top ul li.selected a {
	border-bottom: solid 5px #fb3f05;
}

/*** header end ***/


/*** about ***/
.about{
	margin-bottom: 200px;
}

.about .bg-top {
	min-height: 465px;
	background: url(../images/bg-top.jpg) no-repeat top center #fff;
}
.about .bg-top .container {
	
}
.about .bg-top .container .title {
	color: #fff;
	font-size: 52px;
	padding-top: 30px;
	padding-left: 10px;
}
.about .bg-top .container .description {
	color: #fff;
	font-size: 44px;
	margin-top: 40px;
	background: #fb3f05;
	position: absolute;
	line-height: 66px;
	padding: 0 20px;
}
.about .container {
	position: relative;
}

.about .container .blocks-area {
	display: flex;
	margin-bottom: 60px;
}
.about .container .blocks-area .item {
	width: 370px;
	margin-right: 30px;
	margin-top: -80px;
}
.about .container .blocks-area .item:last-child {
	margin-right: 0;
}

.about .container .blocks-area .item .item-title {
	height: 80px;
	background: #fb3f05;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.about .container .blocks-area .item .item-img {
	height: 210px;
}
.about .container .blocks-area .item .item-img img{
	max-width: 100%;
	max-height: 100%;
}
.about .container .blocks-area .item .item-text {
	padding: 15px;
	font-size: 14px;
	line-height: 24px;
}

.about .container .blocks-area .item .item-title.title-img1 {
	background: url(../images/001-plan.png) no-repeat 20px 50% #fb3f05;
	background-size: 70px;
	padding: 20px 10px 0 120px;
}
.about .container .blocks-area .item .item-title.title-img2 {
	background: url(../images/002-delivery.png) no-repeat 20px 50% #fb3f05;
	background-size: 80px;
	padding: 20px 10px 0 120px;
}
.about .container .blocks-area .item .item-title.title-img3 {
	background: url(../images/003-factory.png) no-repeat 20px 50% #fb3f05;
	background-size: 70px;
	padding: 20px 10px 0 100px;
}

.about .container .company-desc {	
	display: flex;
}
.about .container .company-desc .area-left {
	width: 550px;
	border: solid 5px #fb3f05;
	padding: 20px 30px 80px 20px;
	margin-right: 80px;
	height: 580px;
}

.about .container .company-desc .area-left .title {
	font-size: 28px;
	text-transform: uppercase;
	margin: 20px 0 40px 0;
}
.about .container .company-desc .area-left .area-text {
	font-size: 18px;
	line-height: 28px;
}

.about .company-desc .area-right .area-icons {
	width: 540px;
	border-top: solid 5px #767676;
	border-bottom: solid 5px #767676;
	padding: 15px 0 30px 0;
	display: flex;
	flex-wrap: wrap;
}
.about .area-right .area-icons .item {
	background: url(../images/icon-1.png) no-repeat #fff;
	background-size: contain;
	padding-left: 110px;
	height: 84px;
	width: 250px;
	text-transform: uppercase;
	line-height: 20px;
	padding-top: 20px;
	margin-bottom: 40px;
	font-weight: bold;
}
.about .area-img {
	width: 734px;
	height: 251px;
	background: url(../images/detali.jpg) no-repeat #fff;
	position: absolute;
	right: 0;
	bottom: -100px;
}

/*** about end ***/


/*** iron-casting ***/

.iron-casting {
	margin-bottom: 80px;
}
.iron-casting .container {
	display: flex;
	
}
.iron-casting .container .img-left {
	width: 480px;
	margin-right: 70px;
}

.iron-casting .container .img-left .ic_img_1{
	height: 272px;
}

.iron-casting .container .img-left .ic_img_1 img{
	max-width: 100%;
	max-height: 100%;
}

.iron-casting .container .img-left .ic_img_2{
	height: 219px;
}

.iron-casting .container .img-left .ic_img_2 img{
	max-width: 100%;
	max-height: 100%;
}

.iron-casting .container .text-right {
	width: 600px;
	
}
.iron-casting .container .text-right .title {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.iron-casting .container .text-right .title .min-line{
	width: 55px;
	border-bottom: solid 1px #fb3f05;
	margin-top: 20px;
}
.iron-casting .container .text-right .text {
	font-size: 16px;
    line-height: 20px
}

.iron-casting .container .text-right .text span{
	color: #fb3f05;
}


/*** iron-casting end ***/



/*** model-tooling ***/

.model-tooling {
}
.model-tooling .container {
	display: flex;
	margin-bottom: 100px;
}
.imodel-tooling .container .img-right {
	width: 480px;
}

.model-tooling .container .img-right .mt_img_1{
	height: 299px;
}

.model-tooling .container .img-right .mt_img_1 img{
	max-width: 100%;
	max-height: 100%;
}

.model-tooling .container .img-right .mt_img_2{
	height: 193px;
}

.model-tooling .container .img-right .mt_img_2 img{
	max-width: 100%;
	max-height: 100%;
}

.model-tooling .container .text-left {
	width: 600px;
	margin-right: 70px;
}
.model-tooling .container .text-left .title {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.model-tooling .container .text-left .title .min-line{
	width: 55px;
	border-bottom: solid 1px #fb3f05;
	margin-top: 20px;
}
.model-tooling .container .text-left .text {
	font-size: 16px;
    line-height: 20px
}

.model-tooling .container .text-left .text span{
	color: #fb3f05;
}

.model-tooling .container:last-child{
	display: block;
	margin-bottom: 0;
}

.model-tooling .container .why-is-worth-title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 80px;
	font-size: 30px;
}
.model-tooling .container .why-is-worth {
	display: flex;
	flex-wrap: wrap;
}
.model-tooling .container .why-is-worth .item {
	width: 390px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 130px;
}

.model-tooling .container .why-is-worth .item .text-right{
	width: 220px;
	padding-left: 20px;
}

.model-tooling .container .why-is-worth .item .img1 {
	background: url(../images/nut-icon-1.png) no-repeat #fb3f05 center center;
}
.model-tooling .container .why-is-worth .item .img2 {
	background: url(../images/nut-icon-2.png) no-repeat #fb3f05 center center;
}
.model-tooling .container .why-is-worth .item .img3 {
	background: url(../images/nut-icon-3.png) no-repeat #fb3f05 center center;
}
.model-tooling .container .why-is-worth .item .img4 {
	background: url(../images/nut-icon-4.png) no-repeat #fb3f05 center center;
}
.model-tooling .container .why-is-worth .item .img5 {
	background: url(../images/nut-icon-5.png) no-repeat #fb3f05 center center;
}
.model-tooling .container .why-is-worth .item .img6 {
	background: url(../images/nut-icon-6.png) no-repeat #fb3f05 center center;
}

.model-tooling .container .why-is-worth .item .img1,
.model-tooling .container .why-is-worth .item .img2,
.model-tooling .container .why-is-worth .item .img3,
.model-tooling .container .why-is-worth .item .img4,
.model-tooling .container .why-is-worth .item .img5,
.model-tooling .container .why-is-worth .item .img6{
	min-width: 100px;
	min-height: 100px;
	background-size: 80%;
}

/*** model-tooling end ***/



/*** works ***/

.work {
}

.work .bg-top {
	height: 240px;
	background: url(../images/bg-top-works.jpg) no-repeat top center #fff;
	position: relative;
}
.work .bg-top .title {
	width: 330px;
	height: 70px;
	color: #fff;
	background: #fb3f05;
	text-align: center;
	position: absolute;
	font-size: 28px;
	top: 50%;
	left: 50%;
	margin-left: -165px;
	margin-top: -35px;
	line-height: 70px;
	text-transform: uppercase;
}

.work .container {
}
.work .container .tabs {
	text-align: center;
}

.work .container .tabs .tabs-title {
	text-align: center;
	margin: 40px 0;
}

.work .tabs .tabs-title a {
	font-size: 26px;
	text-transform: uppercase;
	padding: 0 40px;
}

.work .tabs .tabs-title a.selected{
	color: #fb3f05;
}

.work .container .tabs .tabs-area {
	
}
.tabs .tabs-area .tab {
	display: none;
	min-height: 400px;
}

.work .container .show-more-vk {
	margin: 25px 0 60px 0;
}
.work .container .show-more-vk a {
	width: 420px;
	display: block;
	background: #fb3f05;
	font-size: 24px;
	color: #fff;
	padding: 15px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	border-radius: 5px;
}


.work .contact-form {
	display: flex;
}

.work .contact-form .img-left {
	width: 100%;
	height: 520px;
	background: url(../images/contact-img-left.jpg) no-repeat center center;
}
.work .contact-form .content-right {
	width: 100%;
	padding: 50px 0 0 40px;
}

.work .contact-form .content-right .container {
	width: 570px;
	margin: 0px;
}
.work .content-right .container .title {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.work .content-right .container .desctiption {
	line-height: 28px;
}

.work .content-right .container .form-area {
	margin-top: 40px;
}
.work .container .form-area form {
}
.work .container .form-area form input {
	padding: 10px;
	border: solid 1px #dddddd;
	font-size: 16px;
	width: 250px;
}

.work .container .form-area form input:nth-child(1) {
	padding: 10px;
	margin-right: 20px;
}

.work .container .form-area form textarea {
	padding: 10px;
	border: solid 1px #dddddd;
	margin-top: 20px;
	font-size: 16px;
	width: 548px;
	height: 120px;
}

.work .container .form-area form .bottom-area{
	margin-top: 15px;
}

.work .container .form-area form .bottom-area input.button {
	float: left;
	background: #fb3f05;
	border: none;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	width: 180px;
	padding: 18px 0px;
	border-radius: 5px;
	cursor: pointer;
}

.work .container .form-area form .bottom-area span.desc {
	font-size: 12px;
	line-height: 16px;
}

.work .container .form-area form .bottom-area span.desc a{
	color: #0d5fcf;
}

/*** works end ***/



/*** contacts ***/

.contacts{
	position: relative;
}


.contacts .contact-map{
	height: 450px;
}
.contacts .contact-map .contact-link-block {
	position: absolute;
	background: #fff;
	width: 400px;
	height: 280px;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: 200px;
}

.contacts .contact-map .contact-link-block .area{
	width: 380px;
	height: 260px;
	border: solid 1px #eee;
	margin: 10px;
	position: relative;
	padding: 15px;
	text-align: center;
}

.contacts .contact-map .contact-link-block .area .close{
	position: absolute;
	width: 17px;
	height: 17px;
	top: 10px;
	right: 10px;
	/*background: #ff0000;*/
	cursor: pointer;
	color: #aaa;
	transform: rotate(45deg)
}

.contacts .contact-map .contact-link-block .area .close:hover{
	color: #555;
}


.contacts .contact-map .contact-link-block .area .logo-min {
	width: 350px;
	height: 60px;
	background: url(../images/logo.png) no-repeat #fff;
	background-size: contain;
	padding-left: 70px;
	color: #636363;
	font-size: 20px;
	margin-bottom: 30px;
	text-align: left;
}

.contacts .contact-map .contact-link-block .area .logo-min span {
	font-size: 34px;
}

.contacts .contact-map .contact-link-block .area .info-min{
	font-size: 22px;
	line-height: 34px;
}

.contacts .contact-map .contact-link-block .area .info-min .phone-min {
}

.contacts .contact-map .contact-link-block .area .info-min .soc-min {
	background: url(../images/vwt.png) no-repeat left center;
	background-size: 60px;
	padding-left: 70px;
	
}
.contacts .contact-map .contact-link-block .area .info-min .email-min {
}
.contacts .contact-map .contact-link-block .area .info-min a{
}

/*** contacts end ***/



/*** footer ***/

.footer{
	background: #222;
}

.footer .container{
	padding: 10px;
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}

/*** footer end ***/



/*********************************/






.my-gallery {
	
}
.my-gallery .item {
	float: left;
	margin: 3px 6px;
	overflow: hidden;
}
.my-gallery .item:nth-child(1) img {
	object-fit: cover;
	width: 280px;
	height: 280px;
}
.my-gallery .item:nth-child(2) img {
	object-fit: cover;
	width: 570px;
	height: 280px;
}
.my-gallery .item:nth-child(3) img {
	object-fit: cover;
	width: 280px;
	height: 280px;
}
.my-gallery .item:nth-child(4) img {
	object-fit: cover;
	width: 570px;
	height: 570px;
}
.my-gallery .item:nth-child(5) img {
	object-fit: cover;
	width: 280px;
	height: 280px;
}
.my-gallery .item:nth-child(6) img {
	object-fit: cover;
	width: 280px;
	height: 280px;
}
.my-gallery .item:nth-child(7) img {
	object-fit: cover;
	width: 280px;
	height: 280px;
}
.my-gallery .item:nth-child(8) img {
	object-fit: cover;
	width: 280px;
	height: 280px;
}
