html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: #222;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background: #fff;
}

a{
	color: #222;
	text-decoration: none;
}

div{
	box-sizing: border-box;
	/*-moz-box-sizing: border-box;*/
	/*-webkit-box-sizing: border-box;*/
	/*-webkit-font-smoothing: antialiased;*/
}

.clear{
	clear: both;
}

.dn{
	display: none;
}

/*** cookie div ***/

.bottom__cookie-block {
	width: 100%;
	height: 48px;
	background-color: #ffffff;
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 100000;
	text-align: center;
	transform: translateZ(0);
}

.bottom__cookie-block p {
	height: 100%;
	color: #202020;
	/*font-family: 'RobotoRegular', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	display: inline-block;
	line-height: 48px;
}

.bottom__cookie-block p span {
	font-family: 'RobotoBold', sans-serif;
	font-weight: 400;
}

.bottom__cookie-block .ok {
	display: inline-block;
	border-radius: 100px;
	line-height: 31px;
	text-align: center;
	color: #ffffff;
	/*font-family: 'RobotoBold', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	width: 80px;
	height: 31px;
	background-color: #1565c0;
	transition: all .2s;
	margin: 0 31px;
}

.bottom__cookie-block .ok:hover {
	transition: all .2s;
	background-color: #2196f3;
}

.bottom__cookie-block .podr {
	display: inline-block;
	color: #1565c0;
	/*font-family: 'RobotoRegular', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	border-bottom: 1px solid #1565c0;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.bottom__cookie-block .podr:hover {
	transition: all .2s;
	border-bottom: 1px solid #2196f3;
	color: #2196f3;
}

/*** cookie div end ***/

.header {
	
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	clear: both;
}

.hidden {
	display: none;
}

.section{
	min-height: 400px;
}


/*** header ***/

.header-top {
	background: #222;
}

.header-top .container .info {
	text-align: right;
	padding: 10px;
}

.header-top .container .info .phone {
}
.header-top .container .info .soc {
}
.header-top .container .info .email {
}

.header-bottom{
	border-bottom: solid 5px #222;
}

.header-top .container .info a{
	color: #ccc;
}

.header-bottom .container{
	display: flex;
	position: relative;
}

.header-bottom .container .logo {
	width: 390px;
	height: 60px;
	background: url(../images/logo.png) no-repeat #fff;
	background-size: contain;
	padding-left: 70px;
	margin: 15px 0;
	color: #636363;
	font-size: 20px;
}

.header-bottom .container .line-white{
	position: absolute;
	width: 2000px;
	height: 10px;
	left: -1610px;
	background: #fff;
	z-index: 1;
	top: 85px;
}

.header-bottom .container .logo span{
	font-size: 34px;
}


.header-bottom .container .menu-top {
	height: 90px;
}
.header-bottom .container .menu-top ul {
	display: flex;
}
.header-bottom .container .menu-top ul li {
	list-style: none;
}

.header-bottom .container .menu-top ul li.selected {
	
}

.header-bottom .container .menu-top ul li a {
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
	text-transform: uppercase;
	color: #636363;
	border-bottom: solid 5px #222;
	height: 90px;
	font-size: 18px;
}

.header-bottom .container .menu-top ul li a:hover {
	border-bottom: solid 5px #fb3f05;
}

.header-bottom .container .menu-top ul li.selected a {
	border-bottom: solid 5px #fb3f05;
}

/*** header end ***/


/*** about ***/
.about{
	
}

.about .bg-top {
	min-height: 465px;
	background: url(../images/bg-top.jpg) no-repeat top center #fff;
}
.about .bg-top .container {
	padding-left: 10px;
}
.about .bg-top .container .title {
	color: #fff;
	font-size: 52px;
	padding-top: 40px;
}
.about .bg-top .container .description {
	color: #fff;
	font-size: 44px;
	padding-top: 50px;
}

.about .container {
	
}

.about .container .blocks-area {
	display: flex;
	margin-bottom: 40px;
}
.about .container .blocks-area .item {
	width: 370px;
	margin-right: 30px;
	margin-top: -80px;
}
.about .container .blocks-area .item:last-child {
	margin-right: 0;
}

.about .container .blocks-area .item .item-title {
	height: 80px;
	background: #fb3f05;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.about .container .blocks-area .item .item-img {
	height: 210px;
}
.about .container .blocks-area .item .item-img img{
	max-width: 100%;
	max-height: 100%;
}
.about .container .blocks-area .item .item-text {
	padding: 15px;
	font-size: 14px;
	line-height: 18px;
}

.about .container .blocks-area .item .item-title.title-img1 {
	background: url(../images/001-plan.png) no-repeat #fb3f05;
	background-size: contain;
	padding-left: 90px;
}
.about .container .blocks-area .item .item-title.title-img2 {
	background: url(../images/002-delivery.png) no-repeat #fb3f05;
	background-size: contain;
	padding-left: 90px;
}
.about .container .blocks-area .item .item-title.title-img3 {
	background: url(../images/003-factory.png) no-repeat #fb3f05;
	background-size: contain;
	padding-left: 90px;
}


/*** about end ***/


/*** contacts ***/

.contacts .contact-map{
	height: 450px;
}

/*** contacts end ***/



/*** footer ***/

.footer{
	background: #222;
}

.footer .container{
	padding: 10px;
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}

/*** footer end ***/






.work {
}
.work .bg-top {
	height: 240px;
	background: url(../images/bg-top-works.jpg) no-repeat top center #fff;
	position: relative;
}
.work .bg-top .title {
	width: 330px;
	height: 70px;
	color: #fff;
	background: #fb3f05;
	text-align: center;
	position: absolute;
	font-size: 28px;
	top: 50%;
	left: 50%;
	margin-left: -165px;
	margin-top: -35px;
	line-height: 70px;
	text-transform: uppercase;
}

.work .container {
}
.work .container .tabs {
	text-align: center;
}

.work .container .tabs .tabs-title {
	text-align: center;
	margin: 40px 0;
}

.work .tabs .tabs-title a {
	font-size: 26px;
	text-transform: uppercase;
	padding: 0 40px;
}

.work .tabs .tabs-title a.selected{
	color: #fb3f05;
}

.work .container .tabs .tabs-area {
	
}
.tabs .tabs-area .tab {
	display: none;
	background: #888;
	min-height: 400px;
}

.work .container .show-more-vk {
}
.work .container .show-more-vk a {
}


.work .contact-form {
	display: flex;
}

.work .contact-form .img-left {
	width: 100%;
	height: 520px;
	background: url(../images/contact-img-left.jpg) no-repeat center center;
	
}
.work .contact-form .content-right {
	width: 100%;
}



/*********************************/



.about .container .company-desc {	
	display: flex;
}
.about .container .company-desc .area-left {
	width: 550px;
	border: solid 5px #fb3f05;
	padding: 20px;
	margin-right: 80px;
}

.about .container .company-desc .area-left .title {
	font-size: 28px;
	text-transform: uppercase;
	margin: 10px 0 40px 0;
}
.about .container .company-desc .area-left .area-text {
	font-size: 16px;
	line-height: 28px;
}

.about .company-desc .area-right .area-icons {
	width: 540px;
	border-top: solid 5px #767676;
	border-bottom: solid 5px #767676;
	padding: 15px 0 30px 0;
	display: flex;
	flex-wrap: wrap;
}
.about .area-right .area-icons .item {
	background: url(../images/../images/icon-1.png) no-repeat #fff;
	background-size: contain;
	padding-left: 110px;
	height: 84px;
	width: 250px;
	text-transform: uppercase;
	line-height: 20px;
	padding-top: 20px;
}
